.about{
position: relative;
margin-bottom: 50px;
}
.about img{
width: 100%;
height: 800px;
object-fit: cover;
}
.about button{
    border-radius: 20px;
    border: 1px solid white;
    background-color: #8cbad1;
    color: white;
padding: 6px 25px 5px 25px;
margin-top: 5px;
font-weight: 500;
font-size: 15px;
}
.about button:hover{
color: white;
background-color: #62dfa5;
border: none;
}
.position{
    position: absolute;
    top: 50%;
    left: 50%;
}